* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* Bringing in the images to CSS */

.surf-report {

  background-image: url("../images/02-portfolio-4.jpg");

}

.led-wall {

  background-image: url("../images/02-portfolio-1.jpg");

}

.calculator {

  background-image: url("../images/02-portfolio-2.jpg");

}

.pastel-puzzels {

  background-image: url("../images/02-portfolio-3.jpg");

}

.run-buddy {

  background-image: url("../images/02-run-buddy.jpg");

}
